<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @flat.title %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @flat.capacity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @flat.description %>
</p>

<%= link_to 'Edit', edit_flat_path(@flat) %> |
<%= link_to 'Back', flats_path %>
